/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Colors:
    Main: #6636a3
    Secondary: #c4b5e8
    Tertiary: #d5c7f5
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 70rem;
  margin: 0 auto;
}

.grid_middle {
  width: 33.4rem;
  grid-column: 1/-1;
  justify-self: center;
}

h3 {
  font-size: 3.6rem;
}

.heading_container {
  border-radius: 1rem;
  padding: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  background-color: #c4b5e8;
}

.heading_container h3 {
  color: #6636a3;
}

p {
  font-size: 2rem;
}

li {
  font-size: 2rem;
}
/* FLEX CONTAINERS */
.flex_side_by_side {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.centered_span {
  display: block;
  text-align: center;
  margin-bottom: 1.6rem;
}
